@font-face {
  font-family: "iconfont"; /* Project id 5128213 */
  src: url('iconfont.woff2?t=1771821303136') format('woff2'),
       url('iconfont.woff?t=1771821303136') format('woff'),
       url('iconfont.ttf?t=1771821303136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaojiage-0:before {
  content: "\101ec";
}

.icon-xiaojiage-2:before {
  content: "\101ed";
}

.icon-xiaojiage-1:before {
  content: "\101ee";
}

.icon-xiaojiage-4:before {
  content: "\101ef";
}

.icon-xiaojiage-5:before {
  content: "\101f0";
}

.icon-xiaojiage-8:before {
  content: "\101f1";
}

.icon-xiaojiage-6:before {
  content: "\101f2";
}

.icon-xiaojiage-d:before {
  content: "\101f3";
}

.icon-xiaojiage-a:before {
  content: "\101f4";
}

.icon-xiaojiage-b:before {
  content: "\101f5";
}

.icon-xiaojiage-e:before {
  content: "\101f6";
}

.icon-xiaojiage-9:before {
  content: "\101f7";
}

.icon-xiaojiage-c:before {
  content: "\101f8";
}

.icon-xiaojiage-g:before {
  content: "\101f9";
}

.icon-xiaojiage-3:before {
  content: "\101fa";
}

.icon-xiaojiage-f:before {
  content: "\101fb";
}

.icon-xiaojiage-7:before {
  content: "\101fc";
}

.icon-xiaojiage-k:before {
  content: "\101fd";
}

.icon-xiaojiage-h:before {
  content: "\101fe";
}

.icon-xiaojiage-m:before {
  content: "\101ff";
}

.icon-xiaojiage-l:before {
  content: "\10200";
}

.icon-xiaojiage-j:before {
  content: "\10201";
}

.icon-xiaojiage-n:before {
  content: "\10202";
}

.icon-xiaojiage-i:before {
  content: "\10203";
}

