@font-face {
  font-family: "iconfont"; /* Project id 5215889 */
  src: url('iconfont.woff2?t=1787531563028') format('woff2'),
       url('iconfont.woff?t=1787531563028') format('woff'),
       url('iconfont.ttf?t=1787531563028') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qwen:before {
  content: "\e957";
}

.icon-nvidia:before {
  content: "\e600";
}

.icon-meta:before {
  content: "\e783";
}

.icon-microsoft:before {
  content: "\e616";
}

.icon-ollama:before {
  content: "\e60c";
}

.icon-openai:before {
  content: "\e635";
}

.icon-deepseek:before {
  content: "\e88f";
}

.icon-dash-scope:before {
  content: "\e628";
}

